.starter-template {
    margin-top: 80px;
}

.i-table {
    margin-bottom: 50px;
}

.i-chart {
    margin-bottom: 50px;
}

.i-htmltable {
    margin-bottom: 50px;
}

.html-table-inputs {
    max-width: 300px;
    margin: 10px;
    float: left;
}